* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(17, 17, 17);
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    padding: 5%;
}

.row {
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px; */
}

.col-1 {
    padding-top: 5vh;
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: end;
}

/* .bud {
    font-family: 'Varela Round', sans-serif;
} */

.col-1 h2 {
    font-size: 5em; /* 5em */
    /* margin-top: 40px; */
}

.col-1 h1 {
    font-size: 5em;
    position: relative;
    bottom: 30px;
}

.col-1 h1 span {
    color: red;
    border-radius: 50%;
    transition: ease-in-out 0.4s;
}

.col-1 h1 span:hover {
    text-shadow: 0px 0px 8px rgba(255, 0, 0, 0.7);
    font-size: 1.2em;
    transition: ease-in-out 0.4s;
}

img {
    background-color: #FFF;
    width: 80%;
    border-radius: 100%;
    box-shadow: rgba(101, 101, 101, 0.56) 0px 22px 70px 4px;
    transition: ease-in-out 0.4s;
}

img:hover {
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
    transition: ease-in-out 0.4s;
}

.socials {
    margin-top: 10px;
}

.s-cont {
    display: flex;
    margin-left: 0.5vw;
    grid-auto-rows: auto;
    grid-gap: 4vw;
}

.socials a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    transition: ease-in-out 0.4s;
}

.socials a:hover {
    color: #ffffff9d;
    transition: ease-in-out 0.4s;
}

.socials-2 {
    margin-top: 10px;
    display: none;
}

.socials-2 a {
    display: none;
    text-decoration: none;
    color: white;
    font-size: 2em;
    margin: 0 20px;
    transition: ease-in-out 0.4s;
}

.socials-2 a:hover {
    color: #ffffff9d;
    transition: ease-in-out 0.4s;
}

.next {
    position: relative;
    top: 30%;
    display: flex;
}

.arrow-logo {
    font-size: 2em;
}

.quote {
    margin-left: 2vw;
    font-size: 1em;
    width: 40vw;
    text-align: center;
}

.name {
    margin-right: 6vw;
}

.name h2 {
    font-size: 3em;
    letter-spacing: 4px;
}

hr {
    width: 0;
    transition: ease-in-out 0.6s;
    border: none;
    border-bottom: 2px solid rgb(255, 0, 0);
}

.name h2:hover hr {
    width: 100%;
    transition: ease-in-out 0.6s;
}

.row2 {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}