* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'kanit', sans-serif;
    color: white;
    /* padding: 8vh 10vw 0; */
}

#hello-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root {
    transform: scale(85%);
}

.row {
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px; */
}

.col-1 {
    padding-top: 5vh;
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: end;
}

/* .bud {
    font-family: 'Varela Round', sans-serif;
} */

.col-1 h2 {
    font-size: 5em; /* 5em */
    /* margin-top: 40px; */
}

.col-1 h1 {
    font-size: 5em;
    position: relative;
    bottom: 30px;
}

.col-1 h1 span {
    color: red;
    border-radius: 50%;
    transition: ease-in-out 0.4s;
}

.col-1 h1 span:hover {
    text-shadow: 0px 0px 8px rgba(255, 0, 0, 0.7);
    font-size: 1.2em;
    transition: ease-in-out 0.4s;
}

.main-img {
    background-color: #FFF;
    width: 80%;
    border-radius: 100%;
    box-shadow: rgba(101, 101, 101, 0.56) 0px 22px 70px 4px;
    transition: ease-in-out 0.4s;
}

.main-img:hover {
    box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
    transition: ease-in-out 0.4s;
}

.socials {
    margin-top: 10px;
}

.s-cont {
    display: flex;
    margin-left: 0.5vw;
    grid-auto-rows: auto;
    grid-gap: 4vw;
}

.socials a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    transition: ease-in-out 0.4s;
}

.socials a:hover {
    color: #ffffff9d;
    transition: ease-in-out 0.4s;
}

.socials-2 {
    margin-top: 10px;
    display: none;
}

.socials-2 a {
    display: none;
    text-decoration: none;
    color: white;
    font-size: 2em;
    margin: 0 20px;
    transition: ease-in-out 0.4s;
}

.socials-2 a:hover {
    color: #ffffff9d;
    transition: ease-in-out 0.4s;
}

.next {
    margin-top: 3vh;
    padding: 1vh 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.625);
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.next a p {
    color: white;
    font-family: 'outfit', sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.next:hover {
    padding: 1vh 0.5vw 1vh 1vw;
    background-color: #99999925;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.arrow-logo {
    font-size: 2em;
}

.quote {
    margin-left: 2vw;
    font-size: 1em;
    width: 40vw;
    text-align: center;
}

.name {
    margin-right: 6vw;
}

.name h2 {
    font-size: 3em;
    letter-spacing: 4px;
}

hr {
    width: 0;
    transition: ease-in-out 0.6s;
    border: none;
    border-bottom: 2px solid rgb(255, 0, 0);
}

.name h2:hover hr {
    width: 100%;
    /* transition: ease-in-out 0.6s; */
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);

}

.row2 {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* about */

#about {
    height: 100vh;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/back2.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

.a-root {
    transform: scale(75%);
    text-align: center;
    font-family: 'outfit', sans-serif;
}

.a-greet {
    font-size: 2em;
}

.a-greet p span {
    color: #3396FF;
    font-weight: bold;
}

.a-name {
    margin: 8vh 0 5vh;
}

.a-name p {
    font-size: 2.5em;
}

.a-name p span{
    font-weight: bold;
}

.a-name h1 {
    font-size: 7em;
}

.a-name h1 span {
    color: #3396FF;
}

.a-des {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #999;
    font-weight: 300;
}

.a-link {
    display: inline-block;
    margin: 10vh 0 0;
    padding: 1vh 0;
    border-bottom: 1px solid #3396ffab;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.a-link a {
    text-decoration: none;
}

.a-link a p{
    color: #3396FF;
    font-size: 1.3em;
}

.a-link:hover {
    background-color: #3396ff28;
    padding: 1vh 1vw;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}


/* about */

/* skills */

#toys {
    transform: scale(75%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .t-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} */

.t-col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-row1, .bar-row2 {
    display: flex; 
    margin-top: 5vh;
}

.bar {
    width: 35vw;
    transition: all 0.7s ease-in-out;
    background-color: #9999992a;
    margin: 1vh 0;
}

.bar:hover .html-bar {
    width: 70%;
    transition: all 0.7s ease-in-out;
}

.html-bar {
    transition: all 0.7s ease-in-out;
    /* transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1); */
    width: 8vw;
    padding-left: 1vw;
}

.html-bar p {
    padding: 1vh 3vw 1vh 1vw;
    width: 2vw;
    color: white;
    font-size: 1.2em;
}

/* skills */

/* git-dashboard */

#github {
    height: 100vh;
    background-image: url("/images/gitbg.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.git-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.git-logo-cont {
    width: 3vw;
}

.git-logos img {
    border-radius: 100%;
    width: 100%;
    background-color: #FFF;
}

.git-logos hr {
    border-bottom: 4px dotted #999;
    width: 3vw;
    margin: 0 1vw;
}

.eng-cont {
    margin-top: 10vh;
}

.eng-cont-in {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    grid-gap: 5vw;
}

/* git-dashboard */

/* webkits */

::-webkit-scrollbar {
    width: 0.4em;
    height: 0.3em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 1rem;
}


/* webkits */